@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::before, *, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  -o-transition: .3s ease all;
  -webkit-transition: .3s ease all;
  -moz-transition: .3s ease all;
  -ms-transition: .3s ease all;
  transition: .3s ease all;
}

img:hover {
  scale: 102%;
}

.loading {
  width: 11.2px;
  height: 11.2px;
  border-radius: 11.2px;
  box-shadow: 28px 0px 0 0 rgba(255,198,57,0.2), 22.7px 16.5px 0 0 rgba(255,198,57,0.4), 8.68px 26.6px 0 0 rgba(255,198,57,0.6), -8.68px 26.6px 0 0 rgba(255,198,57,0.8), -22.7px 16.5px 0 0 #ffc639;
  animation: loading-b87k6z 1s infinite linear;
}

@keyframes loading-b87k6z {
  to {
     transform: rotate(360deg);
  }
}